body {
  width: 99%;
  float: left;
  background-image: url("./images/Tony_Stark.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100px;
}
.App {
  font-family: sans-serif;
}
.dashboard {
  height: 100%;
  float: left;
  border: 2px #000 solid;
  background-color: #e6e6e6;
  border-radius: 10px;
}
.taskEditor {
  margin-left: 5px;
  border: 2px solid;
  text-align: center;
  border-radius: 10px;
}
.fullWidth {
  width: 100%;
}
.halfWidth {
  width: 49%;
  float: left;
}
.dashboardTitle {
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(207, 24, 24);
  font-weight: bold;
  padding: 1% 0;
  float: left;
  border-bottom: 2px solid black;
  text-align: center;
  background: #fff;
  border-radius: 10px 10px 0 0;
}
.taskStatus {
  width: 96%;
  float: left;
  margin: 1.5%;
  border: 2px solid;
  border-radius: 10px;
  background: #fff url("./images/Tony_Stark.png") no-repeat right bottom;
}
.done .taskStatusTitle {
  color: #3fd73f;
}
.todo .taskStatusTitle {
  color: #eded00;
}
.inprogress .taskStatusTitle {
  color: #ff861e;
}
.taskStatusTitle {
  border-bottom: 2px solid black;
  padding: 2% 0;
  font-weight: bold;
  text-align: center;
  color: rgba(255, 0, 106, 0.849);
}
.taskCard {
  margin: 5%;
  width: 25%;
  border: 2px solid black;
  border-radius: 10px;
  float: left;
  padding: 2%;
}

.taskTitle {
  color: #8f2323;
  margin-bottom: 10%;
}
.taskPriority {
  text-align: right;
}
.minor {
  color: green;
}
.critical {
  color: red;
}
.medium {
  color: #44db44;
}
.high {
  color: #ff00d4;
}
.taskEditor form {
  margin: 2%;
  font-size: 20px;
  color: green;
}
.taskEditor label {
  font-style: oblique;
  font-weight: bold;
  margin-right: 2%;
}
.taskEditor select option {
  font-style: oblique;
}
.taskEditor select,
.taskEditor input {
  border: 2px solid green;
  font-size: 20px;
  color: green;
  border-radius: 8px;
  padding: 8px 30px 8px 10px;
}
.taskEditor input[type="submit"] {
  background-color: #fff;
  color: chocolate;
  padding: 10px 50px;
  background: #f3f3f3;
}
.taskEditor input[type="submit"]:hover {
  background: #ccc;
  cursor: pointer;
  color: #fff;
}
